.App {
 
}
.body{
  margin:0 190px;
}
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  max-width:1200px;
  margin:auto;
  background-color:rgba(0,121,0,0.5);
  padding:5px;
}
nav ul{
  display:flex;
}
nav li{
  list-style-type:none;
  margin:0 20px;
}
a{
  text-decoration:none;
}