.App {
  margin-top: 30px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.grid-container {
  margin: 10px;
  border: 1px solid grey;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 8px;
  padding: 20px;
}
.grid-container p a{
  text-decoration:underline;
  color:rgba(42, 42, 208, 0.974);
  cursor:pointer;
}
.grid-container p{
 margin-top:5px;
}

.body {
  font-size: 13px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 50px;
  flex-grow: row-wrap;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(0, 121, 0, 0.5);
  padding: 5px;
}
nav ul {
  display: flex;
}
nav li {
  list-style-type: none;
  margin: 0 20px;
}
a {
  text-decoration: none;
}
a.active {
  color: blue;
}
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}
